{% extends "auth_base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block CSSfiles %}

<link rel="stylesheet" href="{% static 'en/css/password_change.css' %}">
{% endblock CSSfiles %}

{% block body %}
    



<section class="user-form-part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <div class="user-form-logo">
                    <a href="index.html"><img src="{{company.logo.url}}" style='width:100px' alt="logo"></a>
                </div>
                <div class="user-form-card">
                    <div class="user-form-title">
                        <h2>any issue?</h2>
                        <p>Make sure your current password is strong</p>
                    </div>
                    <form class="user-form" method="post"> 
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% comment %} <div class="form-button"> {% endcomment %}
                            {% comment %} {% bootstrap_button button_type="submit" content="Change Password" %} {% endcomment %}
                            <button type="submit" class="btn btn-success w-100">Change Password</button>
                        {% comment %} </div> {% endcomment %}
                    </form>
                </div>
                <div class="user-form-remind">
                    <p>Go Back To<a href="{% url 'login' %}">login here</a></p>
                </div>
                <div class="user-form-footer">
                    <p>Greeny | &COPY; Copyright by <a href="#">Mironcoder</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}